  - name: Install yum package in Ansible example  
    yum:  
      name: nginx
      state: present  
    become: yes


  - name: start service nginx
    service:
        name: nginx
        state: started
        enabled: yes
    when: start_nginx == true
    become: yes
  
  - name: stop service nginx
    service:
        name: nginx
        state: stopped
        enabled: yes
    when: stop_nginx == true
    notify: 
      - Sending email to notify
    become: yes
