---
- name: Install Java 1.7 and some basic dependencies
  yum:
    name: "{{ item }}"
    state: present
  with_items:
   - unzip
   - java-1.8.0-openjdk
   - libselinux-python3
   - libsemanage-python3
  become: yes
- name: Download JBoss from jboss.org
  get_url:
    url: http://download.jboss.org/jbossas/7.1/jboss-as-7.1.1.Final/jboss-as-7.1.1.Final.zip
    dest: /opt/jboss-as-7.1.1.Final.zip
  become: yes
- name: Extract archive
  unarchive:
    dest: /usr/share
    src: /opt/jboss-as-7.1.1.Final.zip
    creates: /usr/share/jboss-as
    copy: no
  become: yes
  # Rename the dir to avoid encoding the version in the init script
- name: Rename install directory
  command: /bin/mv jboss-as-7.1.1.Final jboss-as 
  args:
    chdir: /usr/share 
    creates: /usr/share/jboss-as
  become: yes
- name: Copying standalone.xml configuration file
  template:
    src: standalone.xml
    dest: /usr/share/jboss-as/standalone/configuration/
  become: yes
- name: Add group "jboss"
  group:
    name: jboss
  become: yes  
- name: Add user "jboss"
  user:
    name: jboss
    group: jboss
    home: /usr/share/jboss-as
  become: yes
- name: Change ownership of JBoss installation
  file:
    path: /usr/share/jboss-as/
    owner: jboss
    group: jboss
    state: directory
    recurse: yes
  become: yes
- name: Copy the init script
  copy:
    src: jboss-as-standalone.sh
    dest: /etc/init.d/jboss
    mode: 0755
  become: yes
- name: Workaround for systemd bug
  shell: service jboss start && chkconfig jboss on
  ignore_errors: yes
  become: yes
- name: Enable JBoss to be started at boot
  service:
    name: jboss
    enabled: yes
    state: started
  when: start_jboss == true
  become: yes


- name: Enable JBoss to be started at boot
  service:
    name: jboss
    enabled: yes
    state: stopped
  when: stop_jboss == true
  become: yes
